
@{
    ViewData["Title"] = "AboutUs";
}

@* Start Body *@
<section>
	<center>
		<div class="mt-4 bg-success p-5 w-75">
			<h1>Welcome to About Us Page</h1>
			<p>Route Academy</p>
		</div>
	</center>
</section>
@* End Body *@

