@{
	Layout = "_LoginRegisterLayout";
}


@* Start Body *@
<section>
	<center>
		<div class="mt-4 bg-primary p-5 w-75">
			<h1>Welcome to Home Page</h1>
			<p>Route Academy</p>
		</div>
	</center>
</section>
@* End Body *@


