

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    @* Start Header *@
    <header>
        <center>
            <nav class="mt-5">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary m-2">Home</a>
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-warning m-2">Privacy</a>
                <a asp-controller="Home" asp-action="AboutUs" class="btn btn-success m-2">About Us</a>
                <a asp-controller="Home" asp-action="ContactUs" class="btn btn-secondary m-2">Contact Us</a>
                <a asp-controller="Auth" asp-action="SingIn" class="btn btn-info m-2">Login</a>
                <a asp-controller="Auth" asp-action="Register" class="btn btn-danger m-2">Register</a>

            </nav>
        </center>
    </header>
    @* End Header *@

    <div>
        @RenderBody()
    </div>

    @* Start Footer *@
    <footer>
        <center>
            <div class="mt-3">
                <p>Copyright &copy; Route @DateTime.Now.Year</p>
            </div>
        </center>
    </footer>
    @* End Footer *@
</body>
</html>
