
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/boos"/>
</head>
<body>

    @* Start Header *@

    @* End Header *@

    @* Start Body *@
    @* End Body *@

    @* Start Footer *@
    @* End Footer *@
</body>
</html>
